<div class="modal-header">
    <h3 class="modal-title">Highscores</h3>
</div>
<div class="modal-body">
    <tabset ng-hide="loading">
        <tab heading="Local" select="localSelected()">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="score in scores.local">
                        <td>{{score.name | truncate:maxNameLength}}</td>
                        <td>{{score.score}}</td>
                    </tr>
                </tbody>
            </table>
        </tab>
        <tab heading="Leaderboards" select="leaderboardsSelected()">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="score in scores.leaderboards">
                        <td>{{score.name | truncate:maxNameLength}}</td>
                        <td>{{score.score}}</td>
                    </tr>
                </tbody>
            </table>
        </tab>
    </tabset>
    <div ng-show="loading">
        <h1><i class="fa fa-spinner fa-pulse"></i> Please wait...</h1>
    </div>
</div>
<div class="modal-footer">
    <div ng-show="showResetOptions" class="pull-left">
        <button ng-hide="showReset" class="btn btn-danger" ng-click="reset()">Reset Highscores</button>
        <div ng-show="showReset">
            <span>Are you sure?</span>
            <button class="btn btn-danger" ng-click="confirmReset()">Yes</button>
            <button class="btn btn-success" ng-click="declineReset()">No</button>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="close()">Close</button>
</div>